@font-face {
    font-family: Roboto-Regular;
    src: url(../assets/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../assets/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(../assets/Roboto-Light.ttf);
}

html, body {
    font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    max-width: 100%;
    overflow-x:hidden;
}

/* -------------- */
/* HOME CONTAINER */
/* -------------- */

.home-container {
    display: flex;
    justify-content: center;
}

.image-box, .intro-box {
    height: 100vh;
    width: 50vw;
}

.image-box #image {
    height:100%;
    width: 100%;
}

.intro-box {
    display: flex;
    flex-direction: column;
}

.intro-box .introduction {
    padding-top: 10vh; 
    padding-left: 60px;
    text-align: left;
    max-width: 600px;
    font-size: 2.7vw;
    letter-spacing: 2px;
    text-decoration: underline;
    flex-grow: 2;
}

.intro-box .introduction h1 {
    line-height: 1.4;
}

.intro-box .navigation {
    width: 50vw;
}

.intro-box .navigation a {
    color: black
}

.intro-box .navigation ul {
    display: flex;
    justify-content: space-evenly;
}

.intro-box .navigation li {
    list-style-type: none;
    text-decoration: underline;
}

/* --------------- */
/* ABOUT CONTAINER */
/* --------------- */

.about-container {
    width: 99vw;
    margin: .75% auto 0 auto;
    height: 100vh;
    background-image: linear-gradient(
        270deg, transparent, black 78%
      ), url("../assets/aboutme_background.jpg");
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    box-shadow: 0 0 90px 90px black inset;
}

.about-container div {
    padding: 20vh 0 0 10vw;
    margin-right: 50%;
    color: white;
}

.about-container div h1 {
    font-size: 4vw;
    margin: 0;
}

.about-container div p {
    font-size: 1.3vw;
    line-height: 1.7;
    font-weight: 100;
}

/* ------------------ */
/* PROJECTS CONTAINER */
/* ------------------ */

.project-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    width: 99%;
    margin: 0 auto;
}

.project-container div {
    flex: 0 33.6%;
    padding: 1% 8%;
    margin: .75% 0 0 0;
    height: 80vh;
    min-width: 250px;
}

.project-box a {
    color: #06c;
    text-decoration: none;
}

.project-box h1 {
    font-size: 2.8vw;
    margin: 0;
    padding: 4vh 0 1vh 0; 
    letter-spacing: .8px;
}

.project-box h4 {
    margin: 0 0 3% 0;
    padding: 0;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 1.25vw;
    letter-spacing: .5px;
}

.project-box h6 {
    font-family: 'Roboto-Light', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 1.3vw;
}

.project-box ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.project-box li {
    margin: 0 2%;
    list-style-type: none;
}

.gray1 {
    background-color: #f2f2f2 ;
}

.gray2 {
    background-color: #f0f0f0;
}

.gray3 {
    background-color: #f1f1f3;
}

.gray4 {
    background-color: #fafafa;
}

#beirutcleanup video {
    margin-top: 10vh;
    width: 30vw;
    max-width: 60vh; /* For image responsiveness when screen size is shrunken vertically */

}

#beirutcleanup h5 {
    color: rgba(0, 0, 0, 0.336);
}

#papertoken h1 {
    font-family: Roboto-Light
}

#papertoken img {
    margin-top: 1vh;
    width: 25vw;
    max-width: 50vh; /* For image responsiveness when screen size is shrunken vertically */
}

#viewpoint img {
    margin-top: 10vh;
    width: 35vw;
    max-width: 65vh; /* For image responsiveness when screen size is shrunken vertically */
}

#iceclimbers img {
    padding: 5% 0 0 0;
    max-width: 23vw;
}

#iceclimbers video {
    padding: 5% 0 2% 0;
    width: 15vw;
    max-width: 28vh;
}

#optionspricing h1 {
    font-family: Roboto-Bold;
    font-size: 2.3vw;
    font-weight: 500;
}

#optionspricing .api {
    font-family: Roboto-Bold;
    font-size: 1.4vw;
    font-weight: 900;
    color: #e2202d;

}

#optionspricing img {
    margin: 7vh 0 0 0;
    width: 26vw;
    max-width: 50vh; /* For image responsiveness when screen size is shrunken vertically */
}

#classconnect img {
    margin-top: 6%;
    width: 26vw;
    max-width: 50vh; /* For image responsiveness when screen size is shrunken vertically */
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeholder img {
    height: 28%;
}

.disabled {
    color: grey !important;
}

/* --------------- */
/* CONTACT CONTAINER */
/* --------------- */

/*
.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 99vw;
    height: 30vh;
    margin: .75% auto;
    background-color: black;
    color: white;
    font-family: Roboto-Light;
    font-size: 2.5vw;
}

.contact-container a { 
    font-family: Roboto-Regular;
    text-decoration: none;
    color: white;
}

.contact-container h1 {
    margin: 0;
    padding: 0;
}

.contact-container h3 {
    margin: 1vh 0;
    color: #919191;
    letter-spacing: 1px;
    font-size: 17px;
}
*/

/*
.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99vw;
    height: 50vh;
    margin: .75% auto;
    background-color: #0a0a0a;
    color: white;
}

.contact-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49vw;
    color: white;
}

.contact-container div:first-child {
    font-size: 2.5vw;
    font-family: Roboto-Light;
}
*/

@media only screen and (min-width: 750px) and (max-width: 1200px), screen and (max-height: 550px) {

    .home-container {
        height: unset;
    }

    .intro-box .introduction {
        font-size: 24px;
    }

    .about-container {
        height: unset;
    }

    .about-container div {
        padding: 12vh 0 8vh 6vw;
    }

    .about-container div p {
        font-size: 15px;
    }

    .project-container div {
        height: unset;
    }

    #beirutcleanup video {
        margin-top: 7vh;
    }
}



@media only screen and (max-width: 750px) {

    /* HOME PAGE. */
    .home-container, .intro-box, .image-box {
        /* height: 87vh; */
        min-height: 400px;
    }

    
    .image-box {
        display: none;
    }

    .intro-box {
        width: 100vw;
    }

    .intro-box .introduction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 0 3vw;
        font-size: 5.5vw;
    }

    .intro-box .navigation {
        width: 100vw;
    }

    .intro-box .navigation ul {
        padding-left: 0
    }

    /* ABOUT PAGE */
    .about-container {
        height: unset;
        padding: 5vh 10vw;
    }

    .about-container div {
        padding: unset;
        margin-right: 20vw;
        color: white;
    }

    .about-container div h1 {
        font-size: 8vw;
    }
    
    .about-container div p {
        font-size: 14px;
    }

    /* PROJECT PAGE */
    .project-container {
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .project-container div {
        height: unset;
    }

    .project-box a {
        font-size: 13px;
    }

    .project-box h1 {
        font-size: 27px;
    }
    
    .project-box h4 {
        font-size: 13px;
        padding: 0 5vw;
    }

    /* BEIRUT CLEANUP SPECIFICS */
    #beirutcleanup video {
        margin: 3vh 0;
        min-width: 80vw;
    }

    /* PAPER TOKEN SPECIFICS */
    #papertoken img {
        min-width: 50vw;
    }

    /* VIEWPOINT SPECIFICS */
    #viewpoint img {
        margin-top: 4.5vh;
        min-width: 80vw
    }

    /* ICE CLIMBER SPECIFICS */
    #iceclimbers {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #iceclimbers img {
        min-width: 60vw;
    }

    #iceclimbers video {
        margin: 1vh 0;
        width: 50vw;
    }

    #iceclimbers h6 {
        white-space: nowrap;
    }

    /* OPTIONSPRICING SPECIFICS */
    #optionspricing h1 {
        font-size: 25px;
    }

    #optionspricing .api {
        font-size: 15px;
    }

    #optionspricing img {
        margin-top: 3vh;
        min-width: 50vw;
    }

    /* CLASSCONNECT SPECIFICS */
    #classconnect img {
        width: 70vw;
    }
}
