@font-face {
    font-family: Roboto-Regular;
    src: url(../assets/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../assets/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(../assets/Roboto-Light.ttf);
}

html, body {
    font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    max-width: 100%;
    overflow-x:hidden;
}

.main-container {
    display: flex;
    justify-content: center;
}

.main-box {
    height: 100vh;
    width: 50vw;
}

#main-image {
    height:100%;
    width: 100%;
}

#main-introduction {
    padding-top: 10vh; 
    padding-left: 60px;
    text-align: left;
    max-width: 600px;
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-decoration: underline;
}

#main-introduction h1 {
    line-height: 1.4;
}

.navigation {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50vw;
}

.navigation a {
    color: black;
}

.navigation ul {
    display: flex;
    justify-content: space-evenly;
}

.navigation li {
    list-style-type: none;
    text-decoration: underline;
}


.about {
    display: flex;
    width: 99vw;
    margin: 1% auto 0 auto;
    height: 100vh;
    background-color: black;
}

.about div {
    padding: 10% 0 0 10%;
    margin-right: 50%;
    color: white;
    font-size: 2.7rem;
}

.about div h1 {
    margin: 0;
}

.about div p {
    font-size: 1.3rem;

}





.project-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 1.5rem;
    justify-content: space-between;
    width: 99%;
    margin: auto;
}

.project-container div {
    flex: 0 33.5%;
    padding: 1% 8%;
    margin: .75% 0 0 0;
    height: 80vh;
}

.project-box a {
    color: #06c;
    text-decoration: none;
}

.project-box h1 {
    margin: 0;
    padding: 7% 0 2% 0;
    letter-spacing: .8px;
}

.project-box h4 {
    margin: 0 0 5% 0;
    padding: 0;
    font-family: Roboto-Light;
    font-size: 1.1rem;
    letter-spacing: .5px;
}

.project-box h6 {
    font-family: Roboto-Light;
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
}

.project-box ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.project-box li {
    margin: 0 2%;
    list-style-type: none;
}


.project-box img {
    max-height: 70%;
    max-width: 120%;
}


.gray1 {
    background-color: #f2f2f2 ;
}

.gray2 {
    background-color: #f0f0f0;
}

.gray3 {
    background-color: #f1f1f3;
}

.gray4 {
    background-color: #fafafa;

}

#viewpoint h4 {
    margin: 0 0 3% 0;
}

#viewpoint h6 {
    margin: 0;
}

#viewpoint img {
    margin-top: 10%;
}

#classconnect h4 {
    margin: 0 0 3% 0;
}

#classconnect img {
    margin-top: 6%;
    max-height: 60%;
}

#iceclimbers h4 {
    margin: 0;
    padding: 0;
}

#iceclimbers img {
    padding: 5% 0 0 0;
    max-width: 70%;
}

#iceclimbers video {
    padding: 5% 0 2% 0;
    max-height: 65%;
}

#iceclimbers ul {
    padding: 3%;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeholder img {
    height: 28%;
}