@font-face {
    font-family: Roboto-Regular;
    src: url(../assets/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../assets/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(../assets/Roboto-Light.ttf);
}

html, body {
    font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    max-width: 100%;
    overflow-x:hidden;
}


.main-container {
    display: flex;
    justify-content: center;
}

.image-box, .intro-box {
    height: 100vh;
    width: 50vw;
}

.image-box #image {
    height:100%;
    width: 100%;
}

.intro-box #introduction {
    padding-top: 10vh; 
    padding-left: 60px;
    text-align: left;
    max-width: 600px;
    font-size: 3vw;
    letter-spacing: 2px;
    text-decoration: underline;
}

.intro-box #introduction h1 {
    line-height: 1.4;
}

.navigation {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50vw;
}

.navigation a {
    color: black;
}

.navigation ul {
    display: flex;
    justify-content: space-evenly;
}

.navigation li {
    list-style-type: none;
    text-decoration: underline;
}





.about-container {
    width: 99vw;
    margin: 1% auto 0 auto;
    height: 100vh;
    background-image: linear-gradient(
        270deg, transparent, black 78%
      ), url("../assets/aboutme_background.jpg");
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    box-shadow: 0 0 90px 90px black inset;
}

.about-container div {
    padding: 12% 0 0 10%;
    margin-right: 50%;
    color: white;
}

.about-container div h1 {
    font-size: 4vw;
    margin: 0;
}

.about-container div p {
    font-size: 1.3vw;
    line-height: 1.7;
    font-weight: 100;
}


/*
.projects-divider {
    display: flex;
    width: 99vw;
    height: 22vh;
    margin: 1% auto 0 auto;
    justify-content: center;
    align-self: center;
}

.projects-divider h1 {
    align-self: center;
    font-size: 3.2rem;
    letter-spacing: 1.4px;
}
*/

.project-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    width: 99%;
    margin: auto;
}

.project-container div {
    flex: 0 33.5%;
    padding: 1% 8%;
    margin: .75% 0 0 0;
    height: 80vh;
    min-width: 250px;
}

.project-box a {
    color: #06c;
    text-decoration: none;
}

.project-box h1 {
    font-size: 2.8vw;
    margin: 0;
    padding: 4vh 0 1vh 0; 
    letter-spacing: .8px;
}

.project-box h4 {
    margin: 0 0 3% 0;
    padding: 0;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 1.25vw;
    letter-spacing: .5px;
}

.project-box h6 {
    font-family: 'Roboto-Light', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 1.3vw;
}

.project-box ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.project-box li {
    margin: 0 2%;
    list-style-type: none;
}

.gray1 {
    background-color: #f2f2f2 ;
}

.gray2 {
    background-color: #f0f0f0;
}

.gray3 {
    background-color: #f1f1f3;
}

.gray4 {
    background-color: #fafafa;
}

#beirutcleanup video {
    margin-top: 8vh;
    width: 30vw;
}

#beirutcleanup h5 {
    color: rgba(0, 0, 0, 0.336);
}

#papertoken h1 {
    font-family: Roboto-Light
}

#papertoken img {
    margin-top: 5vh;
    width: 23vw;
}

#viewpoint img {
    margin-top: 10vh;
    width: 35vw
}

#classconnect img {
    margin-top: 6%;
    max-height: 60%;
}

#iceclimbers img {
    padding: 5% 0 0 0;
    max-width: 23vw;
}

#iceclimbers video {
    padding: 5% 0 2% 0;
    max-height: 65%;
}

#iceclimbers h4 {
    margin: 0;
    padding: 0;
}

#iceclimbers ul {
    padding: 3%;
}

#optionspricing h1 {
    font-family: Roboto-Bold;
    font-size: 2.3vw;
    font-weight: 500;
}

#optionspricing .api {
    font-family: Roboto-Bold;
    font-size: 1.4vw;
    font-weight: 900;
    color: #e2202d;

}

#optionspricing img {
    padding: 7vh 0 0 0;
    max-width: 26vw;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeholder img {
    height: 28%;
}

.disabled {
    color: grey !important;
}

@media only screen and (max-width: 750px) {
    body {
        /* background-color: red; */
    }


    /* HOME PAGE. */
    .image-box {
        display: none;
    }

    .intro-box {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }

    .intro-box #introduction {
        padding: 0;
        font-size: 6.1vw;
        width: 93vw;
        padding-left: 3vw;
    }

    .navigation {
        width: 100vw;
    }

    .navigation ul {
        padding-left: 0;
    }

    /* ABOUT PAGE */
    .about-container div {
        margin-top: 10vh;
        margin-right: 3vw;
        color: white;
    }

    .about-container div h1 {
        font-size: 8vw;
    }
    
    .about-container div p {
        font-size: 3vw;
    }

    /* PROJECT PAGE */
    .project-container {
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .project-container div {
    }

    .project-box {
        min-height: 500px;
    }

    .project-box h1 {
        font-size: 5vw;
    }
    
    .project-box h4 {
        font-size: 2.4vw;
    }
    
    .project-box h6 {
        font-size: 2.5vw;
    }

    /* VIEWPOINT SPECIFICS */
    #viewpoint img {
        width: 80vw
    }

    /* OPTIONSPRICING SPECIFICS */

    #optionspricing h1 {
        font-size: 4.5vw;
    }

    #optionspricing .api {
        font-size: 2.5vw;
    }

    #optionspricing img {
        min-width: 50vw;
    }

    /* ICE CLIMBER SPECIFICS */
    #iceclimbers {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #iceclimbers img {
        min-width: 45vw;
    }

    #iceclimbers h6 {
        white-space: nowrap;
    }
}

